# Folders
00011 - VIN/software
**/__pycache__/
**/obj/
!*.*

**/.devcontainer/
**/.vscode/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Jupiter lab files
*.ipynb

# Files

# Package

