# {05D8C294-F295-4dfb-9D01-096BD04049F4}
# GenApi persistence file (version 3.0.1)
# Device = odos_imaging::Swift -- odos imaging Swift 3d camera -- Device version = 1.0.0 -- Product GUID = 8BA90DA1-D46B-495E-A839-F01AEC11C02D -- Product version GUID = 930367AC-1786-41E2-96EF-E7FEF9072560
DeviceTemperatureSelector	Sensor
DeviceStatusSelector	All
DeviceLicenseSelector	0
DeviceLicensePageSelector	0
ComponentSelector	Intensity
ComponentSelector	Intensity
ComponentEnable	1
ComponentSelector	Range
ComponentEnable	1
ComponentSelector	PointCloudMultiplierX
ComponentEnable	0
ComponentSelector	PointCloudMultiplierY
ComponentEnable	0
ComponentSelector	PointCloudMultiplierZ
ComponentEnable	0
ComponentSelector	Intensity
AcquisitionMode	Continuous
TriggerSelector	FrameBurstStart
TriggerSelector	FrameBurstStart
TriggerMode	Off
TriggerSelector	FrameBurstStart
TriggerSelector	FrameBurstStart
TriggerSource	Software
TriggerSelector	FrameBurstStart
TriggerSelector	FrameBurstStart
TriggerActivation	RisingEdge
TriggerSelector	FrameBurstStart
TriggerSelector	FrameBurstStart
TriggerWaitMode	Pause
TriggerSelector	FrameBurstStart
IlluminationPower	1044
IlluminationEnable	1
LineSelector	Line0
LineSelector	Line1
LineSource	Off
LineSelector	Line0
UserOutputSelector	UserOutput0
UserOutputSelector	UserOutput0
UserOutputValue	0
UserOutputSelector	UserOutput0
ChunkModeActive	1
Scan3dRangeSpan	Standard
Scan3dSignalThresholdLower	800
Scan3dFilterLength	100
Scan3dFilterMode	None
SensorTemperatureRegulationTarget	Temp_40C
